soa-cap06-estoque/src/main/webapp/WEB-INF/wsdl/AutoresService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AutoresServiceService"
	targetNamespace="http://servicos.estoque.knight.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.estoque.knight.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://servicos.estoque.knight.com/" version="1.0"
			xmlns:tns="http://servicos.estoque.knight.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="listaAutores" type="tns:listaAutores" />
			<xs:element name="listaAutoresResponse" type="tns:listaAutoresResponse" />
			<xs:complexType name="listaAutores">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="listaAutoresResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:autor" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="autor">
				<xs:sequence>
					<xs:element minOccurs="0" name="dataNascimento" type="xs:anySimpleType" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="nome" type="xs:string" />
					<xs:element minOccurs="0" name="refs">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="ref"
									type="xs:anyURI" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="livro">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="anoDePublicacao" type="xs:int" />
					<xs:element minOccurs="0" name="autores">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="autor"
									type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="0" name="editora" type="xs:string" />
					<xs:element minOccurs="0" name="nome" type="xs:string" />
					<xs:element minOccurs="0" name="resumo" type="xs:string" />
					<xs:element minOccurs="0" name="dataDeCriacao" type="xs:anySimpleType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="eBook">
				<xs:complexContent>
					<xs:extension base="tns:livro">
						<xs:sequence>
							<xs:element minOccurs="0" name="formato" type="tns:formato" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="formato">
				<xs:restriction base="xs:string">
					<xs:enumeration value="pdf" />
					<xs:enumeration value="mobi" />
					<xs:enumeration value="epub" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="listaAutoresResponse">
		<wsdl:part element="tns:listaAutoresResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="listaAutores">
		<wsdl:part element="tns:listaAutores" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AutoresService">
		<wsdl:operation name="listaAutores">
			<wsdl:input message="tns:listaAutores" name="listaAutores">
			</wsdl:input>
			<wsdl:output message="tns:listaAutoresResponse" name="listaAutoresResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AutoresServiceServiceSoapBinding"
		type="tns:AutoresService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsp:PolicyReference URI="#DefaultSecureServicePolicy" />
		<wsdl:operation name="listaAutores">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="listaAutores">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listaAutoresResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutoresServiceService">
		<wsdl:port binding="tns:AutoresServiceServiceSoapBinding"
			name="AutoresServicePort">
			<soap:address
				location="ADDRESS" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy wsu:Id="DefaultSecureServicePolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SignedSupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:HashPassword />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>